{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "globals": {
    "__DEV__": true,
    "fetch": true,
    "FormData": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-single"],
    "no-useless-escape": 0,
    "no-return-assign": 0
  }
}
