@import '../../components/variables.scss';

.works-list {
  h3 {
    font-weight: lighter;
    text-align: center;
    font-size: 1.4em;
  }
  img.image-eyecatch {
    width: 100%;
    border: 8px solid white;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
    margin-bottom: 1em;
  }
  a > h3 {
    color: $text-color;
  }
  .work-description {
    margin-bottom: 1em;
  }

}

.works-meta {
  display: table;
  border-collapse: collapse;
  margin-bottom: 1em;
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  width: 100%;
  background-color: white;
}
.works-meta-row {
  display: table-row;
  &:not(:last-child) {
    .works-meta-title {
      border-bottom: 1px solid white;
    }
    .works-meta-body {
      border-bottom: 1px solid #d0d0d0;
    }
  }
}
.works-meta-title {
  display: table-cell;
  font-weight: bold;
  padding: 0.4em;
  background-color: rgb(143, 143, 143);
  color: white;
}
.works-meta-body {
  display: table-cell;
  padding: 0.4em;

  .glyphicon {
    margin-left: 0.4rem;
  }
}
