.contact-page {
  .content-container {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
  }

  form {
    position: relative;
  }

  .overlay {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
  }

  .email-sent-section {
    margin-top: 1rem;
  }
}
